<div class="navtabs-container">
  <span class="toolbar-flex"></span>
  <nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.path"
      (click)="activelink = link.path"
      [active]="activelink == link.path"
    >
      {{ link.label }}
    </a>
    <div>
      <button
        class="btn btn-outline-primary"
        *ngIf="!!loggedIn()"
        (click)="logOut()"
      >
        Log Out
      </button>
    </div>
  </nav>
</div>
